blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul {margin:0;padding:0}
body,button,input,select,textarea {	font:12px/1.5 tahoma,arial,'Microsoft Yahei',\5b8b\4f53,sans-serif}
h1,h2,h3,h4,h5,h6 {font-size:100%}
address,cite,dfn,em,var {font-style:normal}
code,kbd,pre,samp {font-family:courier new,courier,monospace}
small {font-size:12px}
ol,ul,li{list-style:none}
a {text-decoration:none}
a:hover {text-decoration:none}
fieldset,img {border:0}
.clearfix:after{content:".";display:block;height:0;font-size:0;clear:both;visibility:hidden;overflow:hidden}
html[xmlns] .clearafter,iframe{display:block;}
button,input,select,textarea {font-size:100%;outline:none;}
table {border-collapse:collapse;border-spacing:0}
.pr{position:relative;}
.pa{position:absolute;}
.fHide{text-indent:-9999px;overflow:hidden;}
.fl{float:left;}
.fr{float:right;}

.wrap{position:relative;width:948px;margin:0 auto;}

.index1,.index1 .wrap{background:url(../images/pc_index_01.jpg) no-repeat 50% 0;height:344px;}
.index2,.index2 .wrap{background:url(../images/pc_index_02.jpg) no-repeat 50% 0;}
.index2 .wrap{height:586px;padding-top:17px;}

.btu-state{display:block;width:330px;height:330px;margin-left:313px;background:url(../images/yuyue_btn_hover.jpg) no-repeat;
animation-name: breath;
animation-duration: 3s;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;

-webkit-animation-name: breath;
-webkit-animation-duration: 3s;
-webkit-animation-timing-function: ease-in-out;
-webkit-animation-iteration-count: infinite;
}

@keyframes breath {
    from {opacity: 0.1;}
    50%  {opacity:   1;}
    to   {opacity: 0.1;}
}
 
@-webkit-keyframes breath {
    from {opacity: 0.1;}
    50%  {opacity:   1;}
    to   {opacity: 0.1;}
}

.yuyue-btn{display:block;position:absolute;top:101px;left:400px;width:160px;height:160px;}
.yuyue-num{position:absolute;top:275px;width:100%;text-align:center;}
.yuyue-num span{display:inline-block;height:24px;background-color:#03888d;line-height:24px;padding:0 12px;font-size:14px;color:#fff;border-radius:15px;}
.yuyue-num i{font-style:normal;color:#ffc871}


/*   底部样式  */
#foot,.footer{background:url(../images/pc_index_foot.jpg) no-repeat 50% 0;}
#foot{border-top:1px solid #606060;}
.footer{color:#515b5f;width:1200px;margin:0 auto;height:120px;font-size:12px;position:relative;font-family:Helvetica,Arial,sans-serif;}
.footer img{vertical-align:middle;}
.footer .logo{float:left;margin-top:25px;padding-right: 35px;height:72px;}
.footer .logo img{display:inline-block;}
.footer .logo-dev{padding-top:10px;margin-left:10px;}
.footer p{padding-bottom:5px;height:20px;line-height:20px;}
.footer a{color:#515b5f;text-decoration:none}
.footer a:hover{text-decoration: none;}
.footer .cr{padding-top:25px;color:#5e3300;line-height:21px;text-align:right;}
.footer .cr span{margin-right:20px;}
.footer .cr .link a{margin:0 5px;}

.pop-left{position:fixed;_position:absolute;left:20px;top:50%;width:153px;height:308px;margin-top:-154px;background:url(../images/pop_wx_v.png) no-repeat;text-align:center;}
.pop-left img.code{display:block;width:107px;height:107px;margin:30px auto 62px;}

.pop-right{position:fixed;_position:absolute;right:20px;top:50%;width:60px;height:371px;margin-top:-185px;background:url(../images/pop_links.png) no-repeat;text-align:center;}
.pop-right a{display:block;width:58px;height:47px;margin-top:23px;}

.weixin-pop,.qqun-pop{position:absolute;background-color:#05a1a7;bottom:-20px;left:-210px;width:117px;height:117px;padding:7px;visibility:hidden;opacity:0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.weixin-pop img{width:117px;height:117px;}
.weixin-pop span.arrow,.qqun-pop span.arrow{position:absolute;top:50px;right:-7px;width:12px;height:24px;background:url(../images/arrow.png) no-repeat;}
.weixin-pop-show,.qqun-pop-show{visibility:visible;opacity:1;left:-138px;}
.qqun-pop{bottom:60px;width:105px;height:auto;padding:18px 11px 5px;background:url(../images/qqun.png) #05a1a7 11px 18px no-repeat;}
.qqun-pop a{display:block;width:105px;height:33px;margin-bottom:13px;margin-top:0;}
.qqun-pop-show{left:-135px;}

.mask{background:#000;opacity:0.5;filter:alpha(opacity=50);position:fixed;top:0;left:0;right:0;bottom:0;z-index:99;display:none;}
.pop-yuyue{background-color:#05a8ae;position:fixed;_position:absolute;left:50%;top:50%;width:540px;height:300px;margin:-150px 0 0 -270px;z-index:999;display:none;}
.pop-yuyue a.close{position:absolute;right:0;top:-45px;width:41px;height:41px;background:url(../images/close.png) no-repeat;}
.sys-choose{height:23px;text-align:center;line-height:23px;font-size:16px;color:#fff;border-radius:15px;padding:46px 0 39px;}
.sys-choose a{margin:0 50px;display:inline-block;color:#fff;}
.sys-choose span{position:relative;display:inline-block;width:19px;height:19px;border:2px solid #fff;vertical-align:middle;border-radius:12px;margin-right:10px;}
.sys-choose a.on span:before{content:'';display:block;margin:4px 0 0 4px;width:11px;height:11px;border-radius:6px;background-color:#fff;}
.pop-yuyue input{display:block;height:40px;width:300px;padding:5px;line-height:40px;border:none;background-color:#b5dbdc;margin:0 auto;font-size:20px;color:#536161;}
.yuyue-go{display:block;width:207px;height:66px;background:url(../images/yuyue_btn.jpg) no-repeat;margin:35px auto 0;}

.s_p_k{display:none;position:fixed;width:700px;height:400px;left:50%;margin-left:-350px;top:15%;z-index:9999;background:#000;border:solid 2px #959595;padding:10px;}
.s_p_k a{position:absolute;right:-2px;top:-45px;width:41px;height:41px;background:url(../images/close.png) no-repeat;}