<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>《乱斗之王》官方网站—超感官热血格斗手游</title>
<meta content="乱斗之王,乱斗，乱斗之王手游，乱斗之王下载，乱斗之王官网，热血，格斗，对决，勇士，DNF手游" name="keywords">
<meta name="description" content="《乱斗之王》最爽掌中格斗狂潮来袭！首创多英雄实时切换战斗、华丽技能爆炸式打击感、极致动作无限自由连击、热血冒险互动式格斗动画、全新体验百变副本BOSS、萌宠酷炫全屏主动技能，更有为格斗爱好者们量身打造的多元化竞技场，让您尽情体验热血PK乐趣。超感官热血格斗手游，放肆战，无所畏！《乱斗之王》官方网站，领取游戏礼包，了解《乱斗之王》最新手游信息！">
<link rel="stylesheet" href="css/style.css" />
</head>

<body class="page">

<div class="top_nav">
	<div class="wrap">
    	<h2 class="pa logo"><img src="images/game_logo.png"></h2>
        <ul class="pa nav">
        	<li id="n1"><a href="#link">官网首页</a></li>
            <li id="n2"><a href="#link">新闻公告</a></li>
            <li id="n3"><a href="#link">英雄介绍</a></li>
            <li id="n4" class="on"><a href="#link">游戏攻略</a></li>
            <li id="n5"><a href="#link">官方论坛</a></li>
        </ul>
        <a class="pa wx" href="javascript:;"></a>
        <div class="pa wx_pop"><img src="images/code.jpg" /><p>扫码关注官方微信<br>微信号：ldzw918</p></div>
    </div>
</div>

<div class="page_banner">
	<div class="wrap">
    	<a class="home_link" href="//ld.uu.cc" target="_blank" title="前往官网首页"></a>
    </div>
</div>
<div class="main clearfix">
	<div class="wrap">
    	<div class="fl page_left">
        	<div class="pr page_down_code"><img src="images/code.jpg" />扫一扫下载游戏</div>
            <div class="page_down">
            	<a class="ios_down" href="#link"></a>
                <a class="az_down" href="#link"></a>
            </div>
            <div class="page_contact">
            	<h2>官方信息</h2>
                <div class="pr page_wx"><img src="images/code.jpg" />扫一扫关注微信</div>
                <div class="page_wx_txt">微信号：<em>ldzw918</em></div>
                <div class="page_qq">
                	<h3>官方QQ交流群</h3>
                    <ul>
                    	<li>官方1群：000000000</li>
                        <li>官方1群：000000000</li>
                        <li>官方1群：000000000</li>
                        <li>官方1群：000000000</li>
                        <li>官方1群：000000000</li>
                    </ul>
                </div>
                <div class="page_wb_tb">
                	<a href="#link" target="_blank"></a>
                    <a href="#link" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="fr page_right">
        	<div class="pr page_top"><h2 class="tit">影音中心<i>VIDEO GALLERY</i></h2><div class="pa site_nav"><a href="/">首页</a> &gt; <a>影音中心</a></div></div>
            <div class="page_list_box">
            	<div class="page_tab_hd">
                	<ul class="news_tab_hd vedio_tab_hd">
                    	<li id="p1"><a href="#link" target="_self">游戏视频</a></li>
                        <li id="p2" class="on"><a href="#link" target="_self">精彩截图</a></li>
                    </ul>
                </div>
                <div class="vedio_list clearfix">
                	<ul>
                    	<li><a name="//dl.ldzw.gxpan.cn/site/video/world.mp4" href="javascript:;"><img src="images/focus_img.jpg" /><span>lynn罗里吧嗦</span></a></li>
                        <li><a name="//dl.ldzw.gxpan.cn/site/video/world.mp4" href="javascript:;"><img src="images/focus_img.jpg" /><span>lynn罗里吧嗦</span></a></li>
                        <li><a name="//dl.ldzw.gxpan.cn/site/video/world.mp4" href="javascript:;"><img src="images/focus_img.jpg" /><span>lynn罗里吧嗦</span></a></li>
                        <li><a name="//dl.ldzw.gxpan.cn/site/video/world.mp4" href="javascript:;"><img src="images/focus_img.jpg" /><span>lynn罗里吧嗦</span></a></li>
                        <li><a name="//dl.ldzw.gxpan.cn/site/video/world.mp4" href="javascript:;"><img src="images/focus_img.jpg" /><span>lynn罗里吧嗦</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="foot">
    <div class="footer">
        <span class="logo"><img src="//ld.uu.cc/ld.uu.cc/images/logo.png"><img style="margin-left:20px;" src="//ld.uu.cc/ld.uu.cc/images/gzxy.png"></span>
        <div class="cr">
            <p class="link"> <a target="_blank" href="//www.idreamsky.com/homes/about">关于我们</a> | <a target="_blank" href="//www.idreamsky.com/jobs">诚聘英才</a> | <a target="_blank" href="//www.idreamsky.com/homes/contact">联系我们</a> | <a target="_blank" href="//www.idreamsky.com/homes/events">公司大事记</a> | <a target="_blank" href="//www.idreamsky.com/homes/customer_service">客服中心</a> | <a target="_blank" href="//www.idreamsky.com/homes/contact">网站合作</a> | <a target="_blank" href="//www.idreamsky.com/homes/disclaimer">用户协议</a> | <a target="_blank" href="//www.idreamsky.com/homes/disclaimer">家长控制</a> </p>
            <p> <span>Copyright©2009-2014  深圳市创梦天地科技有限公司  版权所有  粤ICP备11018438号</span> <a target="_blank" href="//www.sznet110.gov.cn/netalarm/index.jsp"> <img src="//ld.uu.cc/ld.uu.cc/images/shenwang.jpg" width="16" alt="深圳网络警察报警平台"> </a> <a target="_blank" href="//www.sznet110.gov.cn/webrecord/doquery.jsp"> <img src="//ld.uu.cc/ld.uu.cc/images/anwang.jpg" alt="公共信息安全网络监察" width="16"> </a> <a target="_blank" href="//net.china.com.cn/index.htm"> <img src="//ld.uu.cc/ld.uu.cc/images/jubao.jpg" alt="经营性网站备案信息" width="16"> </a> <a target="_blank" href="//www.miitbeian.gov.cn/publish/query/indexFirst.action"> <img src="//ld.uu.cc/ld.uu.cc/images/beian.jpg" alt="不良信息举报中心" width="16"> </a> </p>
        </div>
        <div class="zg"><strong>健康游戏忠告：</strong>抵制不良游戏，拒绝盗版游戏。注意自我保护，谨防上当受骗。适度游戏益脑，沉迷游戏伤身。合理安排时间，享受健康生活。</div>
    </div>
</div>

<div class="s_p_k"><video width="700" style="background:#000;" height="400" autoplay="autoplay" poster="//ld.uu.cc/ld.uu.cc/images/video.jpg" controls="controls">您的浏览器不支持 video 标签。</video><a class="close"></a></div>
<div class="zhezao"></div>

<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="js/html5media.min.js"></script>
<script>
//微信
var dl = $(".wx");
var pd = $(".wx_pop");
dl.hover(function() {
	pd.addClass("wxin_pop_show");
}, function() {
	pd.removeClass("wxin_pop_show");
});

//页面头部视频	   
$('.vedio_list a').click(function(){
	var vedioSrc = this.name;
	$('.s_p_k video').attr('src',vedioSrc);
	$('.zhezao').show();
	$('.s_p_k').show();
	})
$('.close').click(function(){
	$('.s_p_k video').attr('src','');
	$('.s_p_k').hide();
	$('.zhezao').hide();
	})
</script>
</body>
</html>
