.module-item-wrap {
  min-width: 1200px;
}

.body-page-kind-wap .module-item-wrap{
  width: 375px;
  min-width: 375px;
  /* overflow-x: hidden; */
}

/** 中心点 **/
.center-dot {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 1px;
}

/** 模块--图文信息 **/
/**移动端兼容 start**/
.imgNews-wrap.imgNews-wrap-kind-wap .imgNews-wrap-inner .imgNews-wrap-item {
  width: 375px;
  border: none;
}
.imgNews-wrap.imgNews-wrap-kind-wap .imgNews-wrap-inner .imgNews-wrap-item .imgNews-wrap-inner-news {
  width: 375px;
  flex: 0 0 375px;
}
.imgNews-wrap.imgNews-wrap-kind-wap .imgNews-wrap-inner .imgNews-wrap-item .imgNews-wrap-inner-news .imgNews-news-nav ul li {
  width: 68px;
}
.imgNews-wrap.imgNews-wrap-kind-wap .imgNews-wrap-inner .imgNews-wrap-item .imgNews-wrap-inner-news .imgNews-news-list ul li .imgNews-news-list-text {
  width: 200px;
  padding-left: 10px;
  
}
.imgNews-wrap.imgNews-wrap-kind-wap .imgNews-wrap-inner .imgNews-wrap-item .imgNews-wrap-inner-news .imgNews-news-list ul li .imgNews-news-list-time {
  padding-right: 10px;
}
/**移动端兼容 end**/
.imgNews-wrap .imgNews-wrap-inner {
  position: relative;
}

.imgNews-wrap .imgNews-wrap-item{
  margin: auto;
  width: 970px;
  height: 300px;
  border: 1px solid #e8e8e8;
  display: flex;
  background-color: white;
  text-align: center;
}

.imgNews-wrap .imgNews-wrap-inner .imgNews-wrap-inner-carousel{
  width: 300px;
  flex: 0 0 548px;
}

.imgNews-wrap .imgNews-wrap-inner .imgNews-wrap-inner-carousel .swiper-slide{
  height: 300px;
  width: 548px;
  text-align: left;
}

.imgNews-wrap .imgNews-wrap-inner .imgNews-wrap-inner-carousel img{
  height: 300px;
}

.swiper-imgNews {
  overflow: hidden;
  position: relative;
}
.swiper-imgNews .swiper-pagination {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.swiper-imgNews .swiper-pagination .line-dots {
  width: 20px;
  height: 4px;
  border-radius: 0;
}

.imgNews-wrap-inner-news {
  flex: 0 0 422px;
  background-color: white;
  padding: 8px;
  height: 300px;
  overflow: hidden;
}

.imgNews-wrap-inner-news .imgNews-news-nav ul{
  width: 340px;
  color: #000000;
  text-align: left;
}

.imgNews-wrap-inner-news .imgNews-news-nav ul li{
  min-width: 80px;
  text-align: center;
  display: inline-block;
  line-height: 50px;
  cursor: pointer;
}

.imgNews-wrap-inner-news .imgNews-news-nav ul li.active{
  color: #3A90C2;
}

.imgNews-wrap-inner-news .imgNews-news-nav ul li span{
  display: block;
  padding: 0 14px;
}

.imgNews-wrap-inner-news .imgNews-news-nav ul li.active span{
  border-bottom: 3px solid #3A90C2;
  height: 50px;
}

.imgNews-news-list ul {
  display: none;
}

.imgNews-news-list ul.show {
  display: block;
}

.imgNews-news-list ul li{
  line-height: 47px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  border-bottom: 1px dotted #e8e8e8;
}

.imgNews-news-list ul li .imgNews-news-list-text {
  display: block;
  width: 350px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}
.imgNews-news-list ul li .imgNews-news-list-text a{
  text-decoration: none;
  color: inherit;
}

.imgNews-news-list ul li:first-child{
  border-top: 1px solid #e8e8e8;
}

.imgNews-news-list ul li:last-child{
  border-bottom: none;
}

.imgNews-news-list ul li .imgNews-news-list-time{
  color: #999999;
}

/** 空白模块 **/
.blankSection-wrap .blankSection-wrap-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

/** 导航模块 **/
.navSection-wrap {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
  box-shadow: 0px 2px 6px -2px #A8A8A8;
}

.navSection-wrap .navSection-wrap-inner{
  background-repeat: no-repeat;
  background-position: center;
}

.navSection-wrap .navSection-wrap-item{
  width: 1200px;
  margin: auto;
  display: flex;
}

.body-page-kind-wap .navSection-wrap .navSection-wrap-item{
  width: 375px;
}

.navSection-wrap .navSection-wrap-item.navSection-full-screen{
  width: 100%;
  padding: 0 38px;
}

.navSection-wrap .navSection-wrap-item .navSection-navbar-left{
  display: flex;
  align-items: center;
}

.navSection-wrap .navSection-wrap-item .navSection-navbar-left img{
  max-width: 172px;
  max-height: 60px;
}

.navSection-wrap .navSection-wrap-item .navSection-navbar-right{
  flex: 1;
}

.navSection-wrap .navSection-wrap-item .navSection-navbar-right ul.menu-horizontal{
  display: inline-block;
}

.navSection-wrap .navSection-wrap-item .navSection-navbar-right ul.menu-horizontal li{
  line-height: 58px;
  margin-left: 56px;
  float: left;
}

.navSection-wrap .navSection-wrap-item .navSection-navbar-right ul.menu-horizontal li span.nav-menu-item{
  cursor: pointer;
  position: relative;
}

.navSection-wrap .navSection-wrap-item .navSection-navbar-right ul.menu-horizontal li span.nav-menu-item.active span.active-line {
  display: block;
  width: 80%;
  height: 2px;
  position: absolute;
  left: 10%;
  bottom: -10px;
  background: #2469f2;
  transition: .2s;
}

.navSection-wrap .navSection-navbar-right ul.menu-horizontal li span.nav-menu-item .nav-label.active{
  display: none;
}

.navSection-wrap .navSection-navbar-right ul.menu-horizontal li span.nav-menu-item.active .nav-label{
  display: none;
}

.navSection-wrap .navSection-navbar-right ul.menu-horizontal li span.nav-menu-item.active .nav-label.active{
  display: inline;
}
.navSection-wrap-kind-wap.navSection-sticky-fixed  {
  width: 375px;
}
.navSection-wrap-kind-wap .navSection-wrap-item {
  width: 375px;
}
.navSection-wrap-kind-wap .navSection-wrap-item .navSection-navbar-left img {
  max-width: 120px;
  max-height: 50px;
  margin-left: 10px;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon {
  position: absolute;
  right: 0;
  width: 26px;
  height: 100%;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-icon {
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 18px;
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-icon-line, .navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-icon-line:before, .navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-icon-line:after {
  width: 100%;
  height: 2px;
  background: #999;
  position: absolute;
  left: 0;
  top: 8px;
  transition: all 0.5s;
  transform-style: preserve-3d;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-icon-line:after {
  content: "";
  top: 8px;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-icon-line:before {
  content: "";
  top: -8px;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-icon-close .menu-icon-line {
  background: transparent;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-icon-close .menu-icon-line:before {
  top: 0;
  transform: rotate(45deg);
  background: #999;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-icon-close .menu-icon-line:after {
  top: 0;
  transform: rotate(-45deg);
  background: #999;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-drop-down-wrap {
  position: absolute;
  top: 100%;
  z-index: 10;
  width: 80px;
  text-align: center;
  transition: all 0.3s;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-drop-down-wrap .menu-drop-down {
  height: 100%;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-drop-down-wrap .menu-drop-down .menu-drop-down-bg {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-drop-down-wrap .menu-drop-down ul {
  position: relative;
  z-index: 11;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-drop-down-wrap .menu-drop-down ul li {
  height: 40px;
  line-height: 40px;
  position: relative;
  cursor: pointer;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-drop-down-wrap .menu-drop-down ul li:after {
  content: "";
  width: 30px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-drop-down-wrap .menu-drop-down ul li:last-child:after {
  height: 0;
}
.navSection-wrap-kind-wap .navSection-navbar-right-menu-icon .menu-drop-down-wrap .menu-drop-down ul li span {
  color: white;
  font-size: 13px;
}


/*** 轮播图 ***/
.carouselSection-wrap .carouselSection-wrap-inner {
  position: relative;
}
.carouselSection-wrap .swiper-container-outer{
  margin: auto;
  position: relative;
}
.carouselSection-wrap .swiper-pagination .line-dots {
  width: 20px;
  height: 4px;
  border-radius: 0;
}
.carouselSection-wrap .swiper-buttons .swiper-button{
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.carouselSection-wrap .swiper-buttons .swiper-button:focus{
  outline: 0; 
}
.carouselSection-wrap .swiper-buttons .swiper-button.swiper-button-bg{
  width: 44px;
  height: 70px;
}
.carouselSection-wrap .swiper-buttons .swiper-button-prev {
  left: 10px;
}
.carouselSection-wrap .swiper-buttons .swiper-button-next {
  right: 10px;
}

/*** 模块--新闻详情 ***/
.newsDetailSection-wrap {
  background-color: white;
  overflow: hidden;
  min-height: 50px;
}
.newsDetailSection-wrap .news-title {
  text-align: center;
  font-size: 36px;
  color: #666666;
  margin: 24px auto;
}
.newsDetailSection-wrap .news-time {
  text-align: center;
  font-size: 20px;
  color: #666666;
}
.newsDetailSection-wrap .news-content {
  width: 1200px;
  margin: 24px auto;
}
.newsDetailSection-wrap .news-content img {
  max-width: 1200px !important;
}
.newsDetailSection-wrap.newsDetailSection-wrap-kind-wap .news-title {
  font-size: 20px;
}
.newsDetailSection-wrap.newsDetailSection-wrap-kind-wap .news-time {
  font-size: 16px;
}
.newsDetailSection-wrap.newsDetailSection-wrap-kind-wap .news-content {
  width: 375px;
  padding: 6px;
}
.newsDetailSection-wrap.newsDetailSection-wrap-kind-wap .news-content img {
  max-width: 100% !important;
}

/*** 元素--表单 ***/
.el-form-wrap {
  font-size: 14px;
}

.el-form-wrap .el-form-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  color: #666666;
}
.el-form-wrap .el-form-item .must {
  color: #FF0606;
  margin-right: 4px;
}
.el-form-wrap .el-form-item-widget {
  width: 60%;
}
.el-form-wrap .el-form-item-widget .widget-item { 
  width: 100%;
}
.el-form-wrap .el-form-item-widget .common-input {
  height: 32px;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  outline: none;
}
.el-form-wrap .el-form-item-widget .common-textarea {
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  outline: none;
  font-size: 14px;
  padding: 4px 8px 4px 8px;
}
.el-form-wrap .el-form-item-widget .select-wrap select {
  height: 32px;
  padding-left: 8px;
  border-radius: 4px;
  border: 1px solid #D0D0D0;
  outline: none;
}
.el-form-wrap .el-form-item-widget .radio-group {
  text-align: left;
  display: flex;
}
.el-form-wrap .el-form-item-widget .radio-group .radio-group-item{
  margin-right: 20px;
}
.el-form-wrap .el-form-item-widget .checkbox-group {
  text-align: left;
  display: flex;
}
.el-form-wrap .el-form-item-widget .checkbox-group .checkbox-group-item{
  margin-right: 20px;
}

.el-form-wrap .wrong-input input {
  border: 1px solid #FF0606 !important;
}

.el-form-wrap .wrong-input textarea {
  border: 1px solid #FF0606 !important;
}

.el-form-wrap .wrong-input select {
  border: 1px solid #FF0606 !important;
}

.el-form-wrap .el-form-item .err-tips {
  visibility: hidden;
  color: #FF0606;
  font-size: 12px;
  height: 14px;
}

.el-form-wrap .el-form-item .err-tips.show {
  visibility: visible;
  color: #FF0606;
  font-size: 12px;
  height: 14px;
}



/*** 弹窗通用 ***/
.popup-html-wrap {
  background-color: rgb(248, 248, 248);
  background-repeat: no-repeat;
  background-position: center;
}
.popup-outer-close-btn {
  width: 84px;
  height: 84px;
  top: 0;
  right: -84px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}
.popup-wrapper {
  display: none;
}

.popup-wrapper .popup-box-header {
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #E8EAEC;
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  padding-left: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 32px;
}

.popup-wrapper .popup-box-header .icon-close {
  width: 22px;
  height: 22px;
  cursor: pointer;
}


/*** 预约弹窗 ***/
.subscribePopup-wrap-item .subscribePopup-phone-select{
  position: relative;
  margin-bottom: 24px;
  margin: 0 auto;
  text-align: center;
}

.subscribePopup-wrap-item .subscribePopup-phone-select .subscribePopup-phone-select-item {
  font-size: 24px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  color: #999999;
  display: inline-block;
  position: relative;
  line-height: 140px;
  text-align: center;
  margin-left: 35px;
  margin-right: 35px;
  cursor: pointer;
}

.subscribePopup-phone-select .subscribePopup-phone-select-item.active:after {
  width: 90%;
  height: 3px;
  position: absolute;
  left: 5%;
  bottom: -4px;
  content: "";
  background: #3A90C2;
  transition: .2s;
}

.subscribePopup-wrap-item .subscribePopup-input {
  width: 614px;
  height: 108px;
  position: relative;
  margin: 0 auto;
}

.subscribePopup-wrap-item .subscribePopup-input .input-text{
  width: 518px;
  height: 60px;
  font-size: 16px;
  color: #757575;
  position: relative;
  outline: none;
  top: 24px;
  vertical-align: top;
  left: 48px;
  display: inline-block;
  background: white;
  border: 0;
  padding-left: 10px;
}

.subscribePopup-wrap-item .subscribePopup-input .get-code-button{
  color: #666666;
  font-size: 16px;
  width: 150px;
  height: 60px;
  background: #e1e1e1;
  line-height: 60px;
  display: inline-block;
  position: absolute;
  text-align: center;
  right: 24px;
  top: 24px;
}

.subscribePopup-wrap-item .subscribePopup-submit-button{
  text-align: center;
  margin-top: 24px;
  cursor: pointer;
}


